@import url('https://fonts.google.com/specimen/Playfair+Display#standard-styles');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
} */

.anhbanner img{
    max-width: 100%;
    height: auto;
}
.anhbanner {
    background-position: right;
}


.header a,p{
    font-family: "Roboto",Regular;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    font-size: 16px;
    color: #5d5d5d    ;
    text-decoration: none;
}
.header{
    display: flex;
    justify-content:flex-start ;
    align-items: center;
    padding:  20px 63px;
}
.logo{
    cursor: pointer;
    margin: auto;
   
}
.menu{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 45px;
}
.menu li{
display: inline-block;
padding: 0px 10px 0 0;
justify-content: center;

}
.menu li a{
    text-decoration: none;
    /* transition: all 0.3s ease 0s; */
    
}
.menu li a:hover{
    color: #2d77b6;
    font-weight: 500;
    border-bottom: 2px solid #2d77b6;
    padding-bottom: 1px;
}
li:nth-child(4) ::after {
    content: "|";
    padding: 0 10px 0 15px;
}
.icon_sort{
    background: #2d77b6;
    padding: 5px;
}

/* flag */
.group_flag{
    list-style: none;
}
.group_flag  p{
display: inline-block;
padding: 0px 2px;
}
.group_flag  p{
    transition: all 0.3s ease 0s;
}
.group_flag  p:hover{
    border-bottom: #2d77b6;
    color: #2d77b6;
}

.wrapper{
    display: flex;
}
.left{
    width: 46%;
    overflow: hidden;
}
.search_box{
    text-align: center;
}
.right{
    width: 54%;
    display: flex;
    object-fit: contain;
    overflow: hidden;
}
.p1_title{

  font-family: Roboto;
  font-size: 30px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  margin-top: 120px;
  margin-left: 112px;
  color: #5d5d5d;
}
.h1_title{

  font-family: PlayfairDisplay;
  font-size: 52px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: left;
  margin-left: 112px;
  color: #373737;
}
.text-placeholder{  
   padding: 10px 50px 10px 50px;
    height: 60px;
    border-radius:89px 0 0 89px;
    box-shadow: 2px 4px 10px 0 #00000026;
    border: none;
    background-color: #ffffff;    
    font-family: Roboto;
    font-weight: 300;
    font-size: 16px;
    font-style: italic;
    color: #989898;
    outline: none;
}
.iconsearch{
    color: #ffffff;
}
.timkiem{
    padding: 0 0 0 7px;
}
.submitbtn{
    padding: 10px 50px 10px 22px;
    height: 60px;
    margin: 0 0 0 -5px;
    border-radius:0px 89px 89px 0px;
    box-shadow: 2px 4px 10px 0 #00000026;
    border: none;
    background-color: #2d77b6;    
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;     
    outline: none;
    color: #ffffff;

}
.submitbtn:focus{
    outline: none;
}
.menu__duoi{
    display: flex;
    align-items: center;
    margin: 0 30px 0;
    padding: 0;
}
.menu__list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu__duoi{
    list-style: none;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
}

.menubar{
    color: #373737;
  text-align: center;
  padding: 50px 40px;
  text-decoration: none;
  font-size: 24px;
  font-family: "Roboto";  
  
}
.square_sort {
    color: ;
    padding: 0 5px ;

}


  


 
  
  