@import url('https://fonts.google.com/specimen/Playfair+Display#standard-styles');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.anhbanner img {
    max-width: 100%;
    height: auto;
}

.anhbanner {
    background-position: right;
}

.header a,
p {
    font-family: "Roboto", Regular;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    font-size: 16px;
    color: #5d5d5d;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: left;
    /* padding:  20px 63px; */
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    /* padding-left: 70px; */
    flex-wrap: wrap;
    margin-bottom: 150px;
}

.menu li {
    display: inline-block;
    padding: 0px 10px 0 0;
    justify-content: center;
}

.menu li a {
    text-decoration: none;
}

.menu li a:hover {
    color: #2d77b6;
    font-weight: 500;
    border-bottom: 2px solid #2d77b6;
    padding-bottom: 1px;
}


/* flag */

.languages {
    position: relative;
}

.languages li:nth-child(2) {
    padding-left: 15px;
}

.languages li:nth-child(1)::after {
    content: '';
    width: 1px;
    height: 10px;
    background-color: #cccccc;
    position: absolute;
    margin: 0 15px;
    top: 50%;
    transform: translateY(-50%);
}

.wrapper {
    display: flex;
}

.left {
    width: 46%;
    overflow: hidden;
    padding: 20px 63px 0 119px;
}

.search_box {
    text-align: center;
}

.right {
    width: 54%;
    object-fit: contain;
    overflow: hidden;
}

.p1_title {
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #5d5d5d;
}

.h1_title {
    font-family: "PlayfairDisplay";
    font-size: 52px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #373737;
}

.search_box {
    display: flex;
    flex-wrap: nowrap;
}

.text-placeholder {
    padding: 10px 50px 10px 50px;
    height: 60px;
    border-radius: 89px 0 0 89px;
    box-shadow: 2px 4px 10px 0 #00000026;
    border: none;
    background-color: #ffffff;
    font-family: Roboto;
    font-weight: 300;
    font-size: 16px;
    font-style: italic;
    color: #989898;
    outline: none;
}

.iconsearch {
    color: #ffffff;
}

.timkiem {
    padding: 0 0 0 7px;
}

.submitbtn {
    padding: 10px 50px 10px 22px;
    height: 60px;
    margin: 0 0 0 -5px;
    border-radius: 0px 89px 89px 0px;
    box-shadow: 2px 4px 10px 0 #00000026;
    border: none;
    background-color: #2d77b6;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    outline: none;
    color: #ffffff;
}

.submitbtn:focus {
    outline: none;
}

.menu__duoi {
    display: flex;
    align-items: center;
    margin: 0 0px 0;
    height: 110px;
    padding: 0 120px;
    background-color: #f9f9f9;
    box-shadow: 2px 4px 10px 0 #00000026;
}

.menu__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.menu__list li {
    margin: 0 50px;
}

.menu__list li:nth-child(1) ::after {
    content: '';
    width: 1px;
    height: 30px;
    background-color: #cccccc;
    position: absolute;
    margin: 0 50px;
    top: 50%;
    transform: translateY(-50%);
}

.menu__list li:nth-child(2) ::after {
    content: '';
    width: 1px;
    height: 30px;
    background-color: #cccccc;
    position: absolute;
    margin: 0 50px;
    top: 50%;
    transform: translateY(-50%);
}

.menu__duoi {
    list-style: none;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
}

.menubar {
    color: #373737;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    font-family: "Roboto";
}

.icon1 {
    background: #E9E9E9;
    padding: 10px;
}

.icon_sort i:hover {
    background: #2d77b6;
    color: #ffffff;
}

.txt h2 {
    font-family: "PlayfairDisplay";
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #373737;
    margin: 63px 0 0 120px;
}

.txt {
    position: relative;
}

.txt ::after {
    content: '';
    width: 160px;
    height: 1px;
    background-color: #cccccc;
    position: absolute;
    margin: 0 100px;
    top: 50%;
    transform: translateX(-50%);
}

.img_lst {
    /* position: relative;     */
    margin: 50px 24px 24px 120px;
}

.menu .icon {
    display: none;
}

@media screen and (max-width: 1200px) {
    .header li:not(:first-child) {
        display: none;
    }
    .languages {
        display: none;
    }
    .menu a.icon {
        float: right;
        display: block;
    }
    .timkiem {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .menu.responsive {
        position: relative;
    }
    .menu.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .menu.responsive li {
        float: none;
        display: block;
        text-align: left;
    }
}

@media screen and (max-width: 992px) {
    .header li:not(:first-child) {
        display: none;
    }
    .languages {
        display: none;
    }
    .menu a.icon {
        float: right;
        display: block;
    }
    .timkiem {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .menu.responsive {
        position: relative;
    }
    .menu.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .menu.responsive li {
        float: none;
        display: block;
        text-align: left;
    }
}