@import url('https://fonts.google.com/specimen/Playfair+Display#standard-styles');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
} */

.anhbanner img{
    max-width: 100%;
    height: auto;
}
.anhbanner {
    background-position: right;
}

.header a,p{
    font-family: "Roboto",Regular;
    font-weight: 500;
    font-size: 16px;
    color: #5d5d5d    ;
    text-decoration: none;
}
.header{
    display: flex;
    justify-content:flex-start ;
    align-items: center;
    padding: 20px 10%;
}
.logo{
    cursor: pointer;
    margin: auto;
   
}
.menu{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu li{
display: inline-block;
padding: 0px 10px;
justify-content: center;
}
.menu li a{
    transition: all 0.3s ease 0s;
}
.menu li a:hover{
    color: #2d77b6    ;
}


/* flag */
.group_flag{
    list-style: none;
}
.group_flag  p{
display: inline-block;
padding: 0px 2px;
}
.group_flag  p{
    transition: all 0.3s ease 0s;
}
.group_flag  p:hover{
    color: #2d77b6;
}

.wrapper{
    display: flex;
}
.right{
    width: 100%;
    display: flex;
    flex: 54.3%;
    margin: 3px;
    padding: 3px;
    object-fit: contain;
}
.p1_title{
    width: 301px;
  height: 37px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  margin-top: 50px;
  margin-left: 112px;
  color: #5d5d5d;
}
.h1_title{
    width: 598px;
  height: 209px;
  font-family: PlayfairDisplay;
  font-size: 52px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: left;
  margin-left: 112px;
  color: #373737;
}
.text-placeholder{  
   padding: 20px 0 20px 34px;
   width: 407px;
    margin: 0 0 0 119px;
    border-radius:89px 0 0 89px;
    box-shadow: 2px 4px 10px 0 #00000026;
    border: solid 1px #ffffff;
    background-color: #ffffff;    
    font-family: Roboto;
    font-size: 16px;
    font-style: italic;
    color: #989898;
    outline: none;
}
.iconsearch{
    color: #ffffff;
}
.timkiem{
    color: #ffffff;
    outline: none;
}

.submit{
    padding: 22px 48px 20px 22px;
    margin: 0 0 0 -5px;
    border-radius:0px 89px 89px 0px;
    box-shadow: 2px 4px 10px 0 #00000026;
    border: solid 1px #ffffff;
    background-color: #2d77b6;    
    font-family: Roboto;
    font-size: 14px;     
    outline: none;
}

.menu__duoi{
    display: flex;
    align-items: center;
    margin: 0 30px 0;
    padding: 0;
}
.menu__list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu__duoi{
    list-style: none;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
}

.menubar{
    color: #373737;
  text-align: center;
  padding: 50px 40px;
  text-decoration: none;
  font-size: 24px;
  font-family: "Roboto";  
  
}
.square_sort {


    color: black;
    padding: 0 5px ;

}


  


 
  
  