/* list img */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
.row-child {
    margin: 24px 120px 24px 120px;
}

.imglist {
    position: relative;
}

.icon_imglist {
    position: absolute;
    top: 0px;
    margin: 380px 0 70px 30px;
}

.text_imglist h3 {
    position: absolute;
    top: 0px;
    padding: 430px 0 25px 30px;
    font-family: "PlayfairDisplay", Bold;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}


/* ICON XEM THÊM */